*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html
{
    width: 100%;
    height: 100%;
}
body
{
    width: 100%;
    height: 100%;
    /*background-color: #50aeff; 0047AB	0F52BA 191970 0F52BA 296ba2 4682B4 1864a4 rgba(86, 141, 229, 1)*/
    background-color: #1864a4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main
{
    display: block;
}
.main h1
{
    color: #ff5d3a;
    /*color: ff814b;fc8956, ff8550 ff773c FF5F1F FF5F15 ff5d3a FF5733*/
}
.main #city
{
    font-size: 19px;
    border-color: white;
}
.main section
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main #citybar
{ 
    padding: 5%;
}
.main section button p
{
    padding: 20 50px;
    font-size: 18px;
}